@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root{
  /* Colors */
--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);
--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);

/* Size */
--size-normal: 15px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  font-size: var(--size-normal);
  font-family: "League Spartan", sans-serif;
  padding: 82px 24px;
  min-height: 100vh;  
  background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  @media (min-width: 1440px) {
    padding: 100px 165px;
  }

  @media (min-width: 1024px) {
    padding: 100px;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
  }

}

.container {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    
    .header, 
    .rating {
      width: 50%;
    } 

    .header {
      width: 445px;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-bottom: 47px;
  text-align: center;
  text-wrap: balance;

  h1 {
    color: var(--very-dark-magenta);
    font-size: 40px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -1.43px;  
  }

  p {
    color: var(--dark-grayish-magenta);
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.63px;
  }

  @media (min-width: 1024px) {
    text-align: left;

      h1 {
          font-size: 56px;
          line-height: 48px;
          letter-spacing: -2px;
        }
  }
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .rating__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 78px;
    background-color: var(--light-grayish-magenta);
    border-radius: 8px;
    
    p{
      color: var(--very-dark-magenta);
      font-size: 17px;
      font-weight: 700;
    }
    
    @media (min-width: 1024px) {
      flex-direction: row;
      height: 56px;  
    }
  }

  @media (min-width: 1024px) {

    .rating__card{
      width: 445px;
    }

    .rating__card__one {
      align-self: start;
    }

    .rating__card__two {
      align-self: center;
    }
      
    .rating__card__three {
      align-self: end;
    }

}
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 49px;
  
  @media (min-width: 1440px) {
    margin-top: 71px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    height: 266px;
  }
  
  
  .comments__card {
    font-size: 17px;
    background-color: var(--very-dark-magenta);
    border-radius: 8px;
    padding: 32px;

    .user {
      display: flex;
      align-items: center;  
      gap: 23px; 
      
      img {
        display: block;
        border-radius: 50%;
        width: 40px;
      }

      p {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: white;  
        
        strong {
          font-weight: 900;
        }

        span {
          color: var(--soft-pink);
        }
      }

    }

    > p {
      
      line-height: 22px;
      letter-spacing: -0.3px;
      font-weight: 500;
      color: var(--white);
      padding-top: 23px;

    }

    @media (min-width: 1440px) {
      height: 234px;
    }

  }

  @media (min-width: 1024px) {
    .comments__card__one {
      align-self: start;
    }
    .comments__card__two {
      align-self: center;
    }
    .comments__card__three {
      align-self: end;
    }
  }
}

