@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root{
  /* Colors */
--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);
--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);

/* Size */
--size-normal: 15px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  font-size: var(--size-normal);
  font-family: "League Spartan", sans-serif;
  padding: 82px 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-bottom: 47px;
  text-align: center;
  text-wrap: balance;

  h1 {
    color: var(--very-dark-magenta);
    font-size: 40px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -1.43px;  
  }

  p {
    color: var(--dark-grayish-magenta);
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.63px;
  }

  @media (min-width: 768px) {
    text-align: left;
    
      h1 {
          font-size: 56px;
          line-height: 48px;
          letter-spacing: -2px;
        }
  }
}